<div class="video" *ngIf="videoList">
    <ng-container *ngFor="let video of videoList">
        <div class="thumbnails" [routerLink]="['/videoplayer']"  [queryParams]="{videoId: video.id}" >
            <img class="thumbnails-img" [src]="video.thumbnail_url">
            <div class="content-video">
                <div class="content-details">
                    <p class="content-title">{{video.title}}</p>
                    <p class="content-creator">{{video.userName}}</p>
                    <p class="content-report">{{video.videoCount}} views · 6 months ago</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>