<div class="side-nav">
    <div class="nav-list">
        <img src="assets/icons/home.svg" width="30px">
        <p>Home</p>
    </div>
    <div class="nav-list">
        <img src="assets/icons/explore.svg" width="30px">
        <p>Explores</p>
    </div>
    
    <div class="nav-list">
        <img src="assets/icons/subscriptions.svg" width="30px">
        <p>Subscriptions</p>
    </div>
    <div class="nav-list">
        <img src="assets/icons/originals.svg" width="30px">
        <p>Originals</p>
    </div>
    <div class="nav-list">
        <img src="assets/icons/youtube-music.svg" width="30px">
        <p>Music</p>
    </div>
    <div class="nav-list">
        <img src="assets/icons/library.svg" width="30px">
        <p>Library</p>
    </div>  
</div>